[project]
name = "resume-creator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "mcp[cli]>=1.21.2",
    "reportlab>=4.4.5",
    "requests>=2.32.5",
]
